ConsumirJAVAC/src/META-INF/wsdl/localhost_8080/OperacionesJava/wsOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="wsOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/OperacionesJava/wsOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="mutiplicar">
<part name="parameters" element="tns:mutiplicar"/>
</message>
<message name="mutiplicarResponse">
<part name="parameters" element="tns:mutiplicarResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="wsOperaciones">
<operation name="sumar">
<input wsam:Action="http://servicios/wsOperaciones/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://servicios/wsOperaciones/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="restar">
<input wsam:Action="http://servicios/wsOperaciones/restarRequest" message="tns:restar"/>
<output wsam:Action="http://servicios/wsOperaciones/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="mutiplicar">
<input wsam:Action="http://servicios/wsOperaciones/mutiplicarRequest" message="tns:mutiplicar"/>
<output wsam:Action="http://servicios/wsOperaciones/mutiplicarResponse" message="tns:mutiplicarResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://servicios/wsOperaciones/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://servicios/wsOperaciones/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="wsOperacionesPortBinding" type="tns:wsOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mutiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsOperaciones">
<port name="wsOperacionesPort" binding="tns:wsOperacionesPortBinding">
<soap:address location="http://localhost:8080/OperacionesJava/wsOperaciones"/>
</port>
</service>
</definitions>